
/* for body after navbar */

.contain{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width:100vw;
}

.container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px;

}
.container-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px;
}
.container-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px;
}

.card {
    box-shadow:5px 5px 0 0 #00000029;
    width: 250px;
   height: 330px;
   border-radius: 20px !important;
      padding-right:15px;
      /* margin-left:130px; */
    text-align: center;
    margin: 10px;
  }

  .card:hover {
    box-shadow: 16px 16px 8px 0 #00000029;
      transform:scale(1.1);
  }

  img {
    border-radius: 15px ;
  }

  .overtext{
      margin-top: 15px;
  }
  
  